* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "TT Lakes Medium";
  src: url("/fonts/TTLakes-Medium.eot");
  src: url("/fonts/TTLakes-Medium.eot?#iefix") format("embedded-opentype"),
    url("/fonts/TTLakes-Medium.woff") format("woff"),
    url("/fontsTTLakes-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "TT Lakes";
  src: url("TTLakes-ExtraLight.eot");
  src: local("TT Lakes ExtraLight"), local("TTLakes-ExtraLight"),
    url("TTLakes-ExtraLight.eot?#iefix") format("embedded-opentype"),
    url("TTLakes-ExtraLight.woff") format("woff"),
    url("TTLakes-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "TT Lakes Regular";
  src: url("/fonts/TTLakes-Regular.eot");
  src: url("/fonts/TTLakes-Regular.eot?#iefix") format("embedded-opentype"),
    url("/fonts/TTLakes-Regular.woff") format("woff"),
    url("/fonts/TTLakes-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "TT Lakes Medium", "Arial", sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 512px;
  background-color: #f8f8f8;
}
.header {
  height: 88px;
  background-color: #ffffff;
  border-bottom: 1px solid #d9fff5;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.header__image-menu {
  height: 40px;
  width: 40px;
  border: none;
  border-radius: 50%;
  background-image: url("ic/burger.svg");
  background-color: #ffffff;
  background-size: cover;
}

.header__image-menu:hover {
  box-shadow: 0px -1px 22px rgba(0, 0, 0, 0.29);
  background-image: url("ic/burger-hover.svg");
}

.header__item {
  height: 40px;
  width: 40px;
}

.header__logo {
  width: 96.55px;
  height: 50.81px;
}

.header__trait {
  width: 2px;
  height: 32px;
}

.header__trait_hidden {
  display: none;
}

.header__item_hidden {
  display: none;
}

.container__title {
  display: flex;
  align-items: center;
}

.container__title-text {
  padding-left: 12px;
}

.container__icon {
  padding-left: 20px;
}

.container__title-text_hidden {
  display: none;
}

.container__trait {
  display: flex;
}
.container__icon-arrow {
  margin-right: 10px;
}

.container__main-text {
  display: block;
  font-size: 14px;
  padding-left: 16px;
  margin-bottom: 16px;
  line-height: 18px;
  letter-spacing: 0.2px;
  font-family: "TT Lakes Regular", "Arial", sans-serif;
}

.container__main-text_hidden {
  display: none;
  font-family: "TT Lakes Regular", "Arial", sans-serif;
}

.container__main-medium-text_hidden {
  display: none;
}
.slider-container {
  padding-left: 15px;
  display: flex;
  overflow: hidden;
}

.slider-container__button {
  font-size: 16px;
  white-space: nowrap;
  padding: 8px;
  border-radius: 6px;
  color: rgba(42, 38, 38, 0.7);
  border: 2px solid transparent;
  background-color: transparent;
  font-family: "TT Lakes", "Arial", sans-serif;
}
.button_hover:hover {
  border: 2px solid #b8ffec;
  background-color: #ffffff;
}

.container__pic {
  margin-top: 15px;
}
/* Начинается 2 макет*/
.menu {
  position: absolute;
  display: none;
  top: 0px;
  flex-direction: column;
  width: 320px;
  height: 100vh;
  background-color: #f8f8f8;
}

.menu__mobile-heder {
  padding: 23px 24px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu__items {
  display: flex;
  align-items: center;
}

.menu__list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 24px 20px 32px 24px;
  width: 222px;
  flex: 1;
}

.menu_element-list {
  display: flex;
  align-items: center;
  padding: 10px 0px;
  cursor: pointer;
}

.brands_background {
  height: 196px;
  background-color: #f8f8f8;
}
.brands-header {
  padding: 16px;
  color: #7e7e82;
  font-size: 16px;
  font-weight: lighter;
  background: linear-gradient(to right, #f8f8f8, rgb(255, 255, 255));
  border-top: 1px solid #d9fff5;
}

/* Слайдер */

.swiper {
  margin-top: 16px;
  margin-left: 16px;
  height: 110px;
}



.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 240px;
  height: 72px;
  background-color: rgb(255, 255, 255);
  border-radius: 6px;
  border: 1px solid #eaeaea;
}




/*  */

.menu__logo {
  margin-left: 16px;
  align-items: center;
}

.menu__trait {
  position: absolute;
  left: 1px;
  display: none;
}

.menu_element-list:hover {
  color: #7e7e82;
}

.menu_element-list:hover .menu__trait {
  display: block;
}

.element-list {
  padding: 10px 0px;
}

.cross {
  border-radius: 50%;
  height: 40px;
  width: 40px;
  border: none;
  background-image: url("ic/close.svg");
  background-color: white;
}

.cross:hover {
  box-shadow: 0px -1px 22px rgba(0, 0, 0, 0.29);
  background-image: url("ic/close-hover.svg");
}

.search {
  border-radius: 50%;
  height: 40px;
  width: 40px;
  border: none;
  background-image: url("ic/search.svg");
  background-color: white;
}

.search:hover {
  box-shadow: 0px -1px 22px rgba(0, 0, 0, 0.29);
  background-image: url("ic/search-hover.svg");
}

.call {
  border-radius: 50%;
  height: 40px;
  width: 40px;
  border: none;
  background-image: url("ic/call.svg");
  background-color: white;
}

.menu__contacts-buttons {
  display: flex;
  gap: 16px;
  margin-top: 10px;
}

.call:hover {
  box-shadow: 0px -1px 22px rgba(0, 0, 0, 0.29);
  background-image: url("ic/call-hover.svg");
}
.chat {
  border-radius: 50%;
  height: 40px;
  width: 40px;
  border: none;
  background-image: url("ic/chat.svg");
  background-color: white;
}

.chat:hover {
  box-shadow: 0px -1px 22px rgba(0, 0, 0, 0.29);
  background-image: url("ic/chat-hover.svg");
}

.profile {
  border-radius: 50%;
  height: 40px;
  width: 40px;
  border: none;
  background-image: url("ic/profile.svg");
  background-color: white;
}

.profile:hover {
  box-shadow: 0px -1px 22px rgba(0, 0, 0, 0.29);
  background-image: url("ic/profile-hover.svg");
}
.menu__footer-items {
  display: flex;
  justify-content: space-around;
}

.menu__text-footer {
  border: none;
}

.menu__text-footer:hover {
  color: #7e7e82;
}

.menu__number {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 40px;
}

.menu__feedback {
  margin: 10px 0px;
}
li {
  list-style-type: none;
}

@media (min-width: 760px) {
  .header__trait {
    display: none;
  }

  .header__trait_hidden {
    display: block;
  }

  .header {
    display: flex;
    justify-content: space-evenly;
  }

  .title__text {
    padding-left: 20px;
  }

  .header__item_hidden {
    display: block;
  }

  .header__logo {
    width: 96.55px;
    height: 50.81px;
  }
  .header__medium-logo {
    margin-right: 300px;
  }

  .container {
    height: 416px;
  }

  .slider-container {
    padding-left: 20px;
  }
  .container__main {
    padding: 0px 16px;
    display: flex;
  }

  .container__main-small {
    width: 490px;
  }

  .container__main-text_hidden {
    margin-bottom: 45px;
    display: none;
    width: 490px;
    font-family: "TT Lakes Regular", "Arial", sans-serif;
  }

  .container__main-medium-text_hidden {
    display: block;
    font-size: 14px;
    padding-left: 16px;
    margin-bottom: 16px;
    line-height: 18px;
    letter-spacing: 0.2px;
    font-family: "TT Lakes Regular", "Arial", sans-serif;
  }

  .container__pic {
    margin-top: 0%;
    width: 50%;
  }
}

/* слайдер */


@media (min-width: 1120px) {
  .header {
    display: none;
  }

  .container {
    display: flex;
    flex-direction: column;
    padding: 20px 20px 0 0;

    height: 536px;
  }

  .container__main-text {
    display: block;
  }

  .container__title {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .container__title-text {
    padding-left: 20px;
  }

  .container__logo {
    display: flex;
    gap: 10px;
    align-items: center;
  }

  .container__title-text_hidden {
    display: flex;
    gap: 10px;
  }

  .container__main-text_hidden {
    margin-bottom: 15px;
    display: block;
    width: 490px;
    font-family: "TT Lakes Regular", "Arial", sans-serif;
  }

  .slider-container {
    padding-left: 20px;
    display: flex;
    flex-wrap: wrap;
    overflow: visible;
  }

  .container__main {
    padding: 0px 25px;
    display: flex;
    justify-content: space-between;
  }

  .container__pic {
    padding-left: 50px;
    width: 50%;
    max-width: 600px;
  }

  .container__main-medium-text_hidden {
    display: none;
  }

  .container__icon-arrow {
    margin-right: 15px;
  }
}

/* 
 button{ 
   animation: slideIn 50s infinite;} 
 @keyframes slideIn { 
   0%{transform: translateX(-50%);} 
  50%{transform: translateX(0);} 
    100%{transform: translateX(50%);} 

 }
*/
